body {
	background-color: white;
}
.container {
	margin-top: 120px;
	display: grid;
	justify-content: center;
	justify-items: center;
}
.set {
	background-color: green;
}
.clear {
	background-color: red;
}

.btn {
	width: 70px;
	border: 1px solid black;
	color: bisque;
	border-radius: 6px;
	font-size: revert;
	height: 28px;
	font-family: inherit;
}

#clock {
	height: 64px;
	width: 7em;
	border: 2px solid black;
	border-radius: 12px;
	text-align: center;
	font-size: -webkit-xxx-large;
	font-family: monospace;
	color: white;
	background-color: #009ca2;
	margin: 10px auto;
	padding-top: 15px;
}

#setTime {
	font-size: xx-large;
	color: gray;
	font-family: system-ui;
}
